<nav>
    <div class="wrapper">
        <ul>
            <li><LinkTo @route="info">Info</LinkTo></li>
        </ul>
        <ul>
            <li><LinkTo @route="orders">Orders</LinkTo></li>
        </ul>
        <ul>
            <li><LinkTo @route="stamps">Stamps</LinkTo></li>
        </ul>
    </div>
</nav>