{{page-title "Square Loyalty"}}

<header>
    <div class="wrapper headerFlex">
        <figure class="logo"><img src="..\asset\Square_Jewel_White.png" alt="Square logo"></figure>
        <h1>Square Loyalty</h1>
    </div>
</header>

<NavBar />

<main>
    {{outlet}} 
</main>